.container{
    margin: auto;
    /* width: 1200px; */
    overflow: hidden;
}
.header{
    background-color: #efeff0;
    height: 75px;
    box-shadow: -12px -5px 40px rgb(20 20 20 / 20%) inset;
}
.admin_bar{
    margin: auto;
}
.nav_bar{
    height: 50px;
    background-color: #369804;
}
.border_line{
    border-color: #c3c3c3;  
}
.logo{
    /* filter: drop-shadow(0 0 0.7vmin crimson); */
}
.li{
    margin: 0 15px;
    padding: 13px;
    color: #ffff;
    padding-right: 40px;
}

.hover:hover{
    filter: invert(1);
}
.filter{
    filter: invert(1);
}
.sub_logo{
    margin: 12px 100px;
}
.bg{
    background-image: url("../image/bgimage.png");
   
}
.headline{
    width: 45%;
    margin: 100px auto;
    line-height: 35px;
}

.h2{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

video{
    width: 802px;
    height: 452px;
    margin: auto;
}
.nav_bar:after {
    content: '';
    position: absolute;
    border-top: 10px solid #369804;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    top: 124px;
    left: 565px;
}
.tab{
    margin: 130px auto;
    padding: 0 205px;
    gap: 3cm;
}
.tab1{
    position: relative;
    width: 300px;
    height: 215px;
    background-color: #d3d3d3;
    border-radius: 5px;
    box-shadow: rgb(38 57 77) 0px 20px 30px -20px;
}
.tab_details{
    width: 300px;
    height: 170px;
    border: 1px solid #818181;
    border-radius: 5px;
    background-color: #f3f3f3;
    color: #a6a6a6;
    box-shadow: -12px -8px 40px rgba(70,70,70,0.12) inset;
   
}
.tab_title{
    color: #1d181d;
    font-size: 25px;
}

footer{
    border-top:1px solid #c3c2c3 ;
}
.f_details{
    padding: ;
}
.footer_detail{
    color: #1d181d;
}
.f_border{
    /* border-right: 1px; */
    border-color: #1d181d;
}
.roll_menu{
    position: absolute;
    top: 126px;
    left: 340px;
    background-color: #272727;
    width: 350px;
    height: 175px;
    border-radius: 5px;
    color: white;
}
}

@media only screen and (max-width: 1535px){

    .li{
        margin: 0px 5px;
    }
}

@media only screen and (max-width: 1279px){

    .li{
        margin: 0px 5px;
        padding: 13px 0px;
        padding-right: 17px;
    }
    
}

@media only screen and(max-width: 1023px) {
    .headline{
        width: 70%;
    }
    .logo{
        margin: 28px 100px;
    }
    
}
