.container{
    margin: auto;
    /* width: 1200px; */
    overflow: hidden;
}
.header{
    background-color: #efeff0;
    height: 75px;
}
.admin_bar{
    /* width: 1200px; */
    margin: auto;
}
.nav_bar{
    height: 50px;
    background-color: #369804;
}
.border_line{
    border-color: #c3c3c3;  
}
.li{
    margin: 0 15px;
    padding: 13px;
    color: #ffff;
    padding-right: 40px;
}

.hover:hover{
    filter: invert(1);
}
.filter{
    filter: invert(1);
}
.sub_logo{
    margin: 12px 100px;
}
.bg{
    background-image: url("../image/bgimage.png");
   
}
.headline{
    width: 45%;
    margin: 100px auto;
    line-height: 35px;
}

.h2{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

video{
    width: 802px;
    height: 452px;
    margin: auto;
}
.nav_bar:after {
    content: '';
    position: absolute;
    border-top: 10px solid #369804;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    top: 124px;
    left: 490px;
}
.tab{
    margin: 130px auto;
    padding: 0 205px;
    gap: 3cm;
}
.tab1{
    position: relative;
    width: 300px;
    height: 215px;
    background-color: #a0a0a0;
    border-radius: 5px;
    /* opacity: 0.5; */
}
.tab_details{
    width: 300px;
    height: 170px;
    border: 1px solid #818181;
    border-radius: 5px;
    background-color: #f3f3f3;
    color: #a6a6a6;
    position: ;
}
.tab_title{
    color: #1d181d;
    font-size: 25px;
}

footer{
    border-top:1px solid #c3c2c3 ;
}
.f_details{
    padding: ;
}
.footer_detail{
    color: #1d181d;
}
.f_border{
    /* border-right: 1px; */
    border-color: #1d181d;
}



  